<h1>New piazza activity breakdown</h1>

<%= render "form", piazza_activity_breakdown: @piazza_activity_breakdown %>

<br>

<div>
  <%= link_to "Back to piazza activity breakdowns", piazza_activity_breakdowns_path %>
</div>
