<ul class="nav nav-tabs mb-3">
  <li class="nav-item">
    <%= link_to "Overview", @cohort, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Canvas</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Piazza</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled">Attendance</a>
  </li>
</ul>
