<nav class="navbar bg-dpi-primary rounded">
  <div class="container-fluid d-flex align-items-center">
    <%= link_to rfp_root_path, class: "navbar-brand me-auto" do %>
      <%= image_tag "logo", class: "d-inline-block align-text-top", alt: "DPI Logo", height:"24" %>
      <span class="text-white">Requests for Projects</span>
    <% end %>
  </div>
</nav>
