<nav class="navbar bg-dpi-primary rounded">
  <div class="container-fluid d-flex align-items-center">
    <a class="navbar-brand me-auto" href="#">
      <%= image_tag "logo", class: "d-inline-block align-text-top", alt: "DPI Logo", height:"24" %>
      <span class="text-white">Requests for Projects</span>
    </a>
  </div>
</nav>
