<%= render "navbar" %>

<div class="my-5">
  <h1>Requests for Projects</h1>
  <hr/>
</div>

<div class="row">
  <div class="col col-md-8">
    <section>
      <h3 id="introduction">Introduction</h3>
      <p>In our software development training program, we frequently engage in discussions about the types of projects that can provide our apprentices with the most relevant and practical experience, mirroring the challenges and opportunities they will encounter in their future careers at large enterprise organizations.</p>
      <p>To align our curriculum with the industry's evolving needs, we have developed a unique initiative that we refer to as the Request for Projects (RFP). This document outlines our  emphasis on innovation and real-world application in our teaching approach.</p>
      <p>It's important to note that our students are not limited to the projects listed in this RFP for their final project. We recognize the diversity of the tech industry and encourage creativity and personal interest in project selection. However, if a project from this list resonates with your aspirations and matches the skills you wish to develop, we encourage you to consider it as a viable option. We believe that these projects represent particularly promising opportunities to apply your learning in meaningful ways that are closely aligned with industry trends and employer expectations.</p>
    </section>
    <section>
      <h3 id="erp">Enterprise Resource Planning Software</h3>
      <p>As businesses grow, they inevitably need a comprehensive software system to manage their operations efficiently. This type of software, commonly referred to as an Enterprise Resource Planning (ERP) system, acts like the central nervous system of a business, integrating various functions such as finance, HR, and inventory management.</p>
      <p>Traditionally, ERPs are known for their high costs, challenging implementation processes, and user frustration. However, they are indispensable tools for businesses, crucial for daily operations and strategic planning.</p>
      <p>For your project, we challenge you to envision and develop a web application aimed at simplifying business management. Select a specific area of business operations you are passionate about or see a great need for improvement in—inventory, finance, HR, customer management, etc. Your goal is to create a platform that stands out for its user-friendly design, flexibility, and effectiveness in helping enterprises streamline their operations. Think of it as building a more accessible, enjoyable, and efficient ERP system that businesses would not only need but love to use.</p>
      <p>This project represents an excellent opportunity to dive deep into the complexities of business operations and to innovate in an area ripe for improvement. Successful execution could significantly impact how businesses operate, highlighting the potential for fresh solutions in the space of business management software. </p>
      <h5>Past Student Projects:</h5>
      <ul>
        <li><a href="https://drive.google.com/file/d/1WYyTnC8zL1k_ttL41GIKzpwpN4Z4-yqP/view">Invy - Calvin Armstrong</a></li>
        <li><a href="https://drive.google.com/file/d/1I2uGdc7dehM_U4uZWTwWrvh-HSP1yBnw/view">Project Y - Jason Ho Ho</a></li>
      </ul>
      <h5>Commercial Examples:</h5>
      <ul>
        <li><a href="https://www.sap.com/products/erp.html">SAP ERP</a></li>
        <li><a href="https://www.netsuite.com/portal/home.shtml">Oracle NetSuite</a></li>
      </ul>
    </section>
  </div>

  <div class="col col-md-4 d-none d-md-block">
    <nav id="TableOfContents">
      <ul>
        <li><a href="#introduction">Introduction</a></li>
        <li><a href="#erp">Enterprise Resource Planning Software</a></li>
      </ul>
    </nav>
  </div>
</div>
