<%= render "navbar" %>
<div class="container my-5">
  <div class="row align-items-start">
    <div class="col">
      <h1>Requests for Projects</h1>
    </div>
    <div class="col">
      <%= render partial: "rfp_idea_submissions/idea_button" %>
      <%= render partial: "rfp_idea_submissions/form" %>
    </div>
  </div>
  <hr/>
</div>
<div class="row">
  <div class="col col-md-8">
    <%# Introduction %>
    <section>
      <h3 id="introduction">Introduction</h3>
      <p>In our software development training program, we frequently engage in discussions about the types of projects that can provide our apprentices with the most relevant and practical experience, mirroring the challenges and opportunities they will encounter in their future careers at large enterprise organizations.</p>
      <p>To align our curriculum with the industry's evolving needs, we have developed a unique initiative that we refer to as the Request for Projects (RFP). This document outlines our  emphasis on innovation and real-world application in our teaching approach.</p>
      <p>It's important to note that our trainees are not limited to the projects listed in this RFP for their final project. We recognize the diversity of the tech industry and encourage creativity and personal interest in project selection. However, if a project from this list resonates with your aspirations and matches the skills you wish to develop, we encourage you to consider it as a viable option. We believe that these projects represent particularly promising opportunities to apply your learning in meaningful ways that are closely aligned with industry trends and employer expectations.</p>
    </section>
    <%# Enterprise Resource Planning Software %>
    <section>
      <h3 id="erp">Enterprise Resource Planning Software</h3>
      <p>As businesses grow, they inevitably need a comprehensive software system to manage their operations efficiently. This type of software, commonly referred to as an Enterprise Resource Planning (ERP) system, acts like the central nervous system of a business, integrating various functions such as finance, HR, and inventory management.</p>
      <p>Traditionally, ERPs are known for their high costs, challenging implementation processes, and user frustration. However, they are indispensable tools for businesses, crucial for daily operations and strategic planning.</p>
      <p>For your project, we challenge you to envision and develop a web application aimed at simplifying business management. Select a specific area of business operations you are passionate about or see a great need for improvement in—inventory, finance, HR, customer management, etc. Your goal is to create a platform that stands out for its user-friendly design, flexibility, and effectiveness in helping enterprises streamline their operations. Think of it as building a more accessible, enjoyable, and efficient ERP system that businesses would not only need but love to use.</p>
      <p>This project represents an excellent opportunity to dive deep into the complexities of business operations and to innovate in an area ripe for improvement. Successful execution could significantly impact how businesses operate, highlighting the potential for fresh solutions in the space of business management software. </p>
      <h5>Past Trainee Projects:</h5>
      <ul>
        <li><a href="https://drive.google.com/file/d/1WYyTnC8zL1k_ttL41GIKzpwpN4Z4-yqP/view" target="_blank">Invy - Calvin Armstrong</a></li>
        <li><a href="https://drive.google.com/file/d/1I2uGdc7dehM_U4uZWTwWrvh-HSP1yBnw/view" target="_blank">Project Y - Jason Ho Ho</a></li>
      </ul>
      <h5>Commercial Examples:</h5>
      <ul>
        <li><a href="https://www.sap.com/products/erp.html" target="_blank">SAP ERP</a></li>
        <li><a href="https://www.netsuite.com/portal/home.shtml" target="_blank">Oracle NetSuite</a></li>
      </ul>
    </section>
    <%# Create an ETL (Extract, Transform, Load) Pipeline for Business Data Integration %>
    <section>
      <h3 id="etl">Create an ETL (Extract, Transform, Load) Pipeline for Business Data Integration</h3>
      <p>In today's data-driven business environment, the ability to efficiently extract, transform, and load data (ETL) from various sources into a unified system is crucial for decision making and operational efficiency. ETL processes form the backbone of data integration strategies, enabling businesses to make sense of vast amounts of data collected from different departments, operations, and external sources.</p>
      <p>For this project, we invite you to develop an ETL pipeline tailored to a specific business process. Your mission is to design a system that can automate the extraction of data from multiple sources, apply necessary transformations to clean and organize the data, and finally load it into a database where it can be analyzed and utilized.</p>
      <p>This project offers a unique chance to delve into the challenges of data management and integration, requiring you to apply skills in database design, data processing, and perhaps even machine learning for advanced data cleaning and enrichment. The goal is to produce a tool that not only streamlines the data integration process but also ensures the data's accuracy, reliability, and readiness for analysis.</p>
      <p>Creating an ETL pipeline for a business process is not just about handling data; it's about enabling smarter business decisions, enhancing operational efficiency, and unlocking the potential of data to drive growth and innovation. This project is your opportunity to contribute to the foundational aspects of business intelligence and analytics infrastructure.</p>
      <h5>Past Trainee Projects:</h5>
      <ul>
        <li><a href="https://www.youtube.com/watch?v=fn7B04ZB3QE" target="_blank">The Prettiest Price - Alexandra Mompremier</a></li>
        <li><a href="https://drive.google.com/file/d/10lil47-WVoba4ae6h1z3G3ZAtbdsBxqi/view" target="_blank">Libra Franca - Andrew Cook</a></li>
        <li><a href="https://drive.google.com/file/d/15n8HPU2t-U8McaOjyswI_GP_FxJfjnAe/view" target="_blank">Tabletop Stat Checker - Jacob Hoffmann</a></li>
      </ul>
      <h5>Commercial Examples:</h5>
      <ul>
        <li><a href="https://quickbooks.intuit.com/" target="_blank">Quickbooks</a></li>
        <li><a href="https://www.xero.com/us/" target="_blank">Xero</a></li>
        <li><a href="https://dashboard.dpi.dev" target="_blank">https://dashboard.dpi.dev</a></li>
        <li><a href="https://www.salesforce.com/" target="_blank">Salesforce</a></li>
        <li><a href="https://www.hubspot.com/products/crm" target="_blank">HubSpot CRM</a></li>
      </ul>
    </section>
    <%# Develop a Customer Relationship Management (CRM) System %>
    <section>
      <h3 id="crm">Develop a Customer Relationship Management (CRM) System</h3>
      <p>In the competitive landscape of modern business, managing relationships with customers is crucial for success. A Customer Relationship Management (CRM) system helps businesses keep track of interactions with current and potential customers, manage leads, sales opportunities, and provide better support.</p>
      <p>Your project challenge is to design and develop a web-based CRM system that stands out for its intuitive user interface, efficiency, and customization capabilities. Focus on creating a tool that enables businesses to better understand their customers, improve customer retention, and drive sales growth. Consider incorporating features like contact management, sales pipeline visualization, activity tracking, and reporting capabilities.</p>
      <p>This project will give you insight into sales processes, marketing strategies, and the importance of customer data analysis in shaping business decisions. Developing a CRM system is not just about managing contacts—it's about building a platform that can transform the customer experience and drive business success.</p>
      <h5>Past Trainee Projects:</h5>
      <ul>
        <li><a href="https://youtu.be/Olk2nNJjJrE" target="_blank">LessonLinx - Fidel Leal</a></li>
        <li><a href="https://drive.google.com/file/d/1NuQ5OVtCpDivoP5HStGg_9C3zbW3PQ78/view" target="_blank">SamWise Job Search Manager - Rafael Montes</a></li>
      </ul>
      <h5>Commercial Examples:</h5>
      <ul>
        <li><a href="https://www.salesforce.com/" target="_blank">Salesforce</a></li>
        <li><a href="https://www.hubspot.com/products/crm" target="_blank">HubSpot CRM</a></li>
      </ul>
    </section>
    <%# Develop a Real-time Analytics Dashboard %>
    <section>
      <h3 id="analytics-dashboard">Develop a Real-time Analytics Dashboard</h3>
      <p>In the age of big data, businesses rely on analytics to make informed decisions quickly. A real-time analytics dashboard can provide businesses with immediate insights into their operations, customer behavior, and market trends.</p>
      <p>Your challenge is to develop a web-based analytics dashboard that can process and visualize data in real-time. This includes integrating data sources, implementing data processing pipelines, and designing intuitive visualizations that convey key metrics and trends at a glance. Consider customization options that allow users to tailor the dashboard to their specific needs.</p>
      <p>This project will hone your skills in data processing, user interface design, and the practical application of analytics in business decision-making. It presents a unique opportunity to delve into the world of data visualization and real-time data processing, preparing you for roles that require the ability to translate data into actionable insights.</p>
      <h5>Commercial Examples:</h5>
      <ul>
        <li><a href="https://www.tableau.com/" target="_blank">Tableau</a></li>
        <li><a href="https://www.microsoft.com/en-us/power-platform/products/power-bi/" target="_blank">Power BI</a></li>
        <li><a href="https://mixpanel.com/" target="_blank">Mixpanel</a></li>
        <li><a href="https://analytics.google.com/" target="_blank">Google Analytics</a></li>
      </ul>
    </section>
    <%# Create a Cloud Storage Service Interface %>
    <section>
      <h3 id="cloud-storage-interface">Create a Cloud Storage Service Interface</h3>
      <p>With the increasing amount of data generated by businesses and the growing need for accessible storage solutions, cloud storage has become a staple in the technology stack of modern enterprises. Your project is to develop a web interface for a cloud storage service that allows users to securely store, share, and manage their files online.</p>
      <p>Focus on creating a user-friendly interface with features such as drag-and-drop upload, upload via email, folder organization, file preview, and secure sharing options. Additionally, consider implementing file versioning and recovery features to enhance data protection. The goal is to provide a convenient and reliable cloud storage solution that meets the needs of both individual users and businesses.</p>
      <h5>Past Trainee Projects:</h5>
      <ul>
        <li><a href="https://www.loom.com/share/5ff30f3d69584263bf0c4de55f70a801?sid=a292c7ec-57bd-4f56-8d19-bad077f4b8d3" target="_blank">Pensieve - Thierry Chau</a></li>
        <li><a href="https://youtu.be/2QczvL30g-w" target="_blank">Tripster - Erik Aden</a></li>
      </ul>
      <h5>Commercial Examples:</h5>
      <ul>
        <li><a href="https://www.dropbox.com/" target="_blank">Dropbox</a></li>
        <li><a href="https://www.google.com/drive/" target="_blank">Google Drive</a></li>
      </ul>
    </section>
    <%# Build a Smart Chatbot %>
    <section>
      <h3 id="smart-chatbot">Build a Smart Chatbot</h3>
      <p>Chatbots have revolutionized customer service by providing instant responses to customer inquiries, improving engagement and satisfaction. Your goal is to develop a smart chatbot that can handle customer service tasks.</p>
      <p>Consider integrating your chatbot with FAQs and databases to provide accurate information. Also, think about including a dashboard for monitoring interactions and gathering insights into common customer issues. This project will not only enhance your skills in AI and machine learning but also give you a deeper understanding of how to improve user experiences through automation.</p>
      <h5>Past Trainee Projects:</h5>
      <ul>
        <li><a href="https://www.loom.com/share/ffc5cf36daf34ea2a8dad690c450698d" target="_blank">Medical Question Answering - Ananth Prayaga</a></li>
      </ul>
      <h5>Commercial Examples:</h5>
      <ul>
        <li><a href="https://www.intercom.com/" target="_blank">Intercom</a></li>
      </ul>
    </section>
    <%# Employee Directory and Internal Communication Platform %>
    <section>
      <h3 id="employee-directory-and-communication">Employee Directory and Internal Communication Platform</h3>
      <p>Large enterprises often struggle with maintaining effective communication channels within their organization. This project aims to build a simple internal platform for employee management and communication. The application would serve as a centralized directory where employees can find contact information, job titles, and departmental details of their colleagues.</p>
      <p>This project involves building communication features such as message boards or a simple chat system to facilitate internal discussions and announcements. Implementing features like search functionality, profile customization, and perhaps even a simple event calendar for company events could greatly enhance its utility. It aligns well with the internal tools that many large organizations need to develop and maintain for smooth operational efficiency.</p>
      <h5>Commercial Examples:</h5>
      <ul>
        <li><a href="https://slack.com/" target="_blank">Slack</a></li>
        <li><a href="https://www.microsoft.com/en-us/microsoft-teams/group-chat-software" target="_blank">Microsoft Teams</a></li>
      </ul>
    </section>
    <%# Feedback and Survey Tool %>
    <section>
      <h3 id="feedback-and-survey-tool">Feedback and Survey Tool</h3>
      <p>Create a tool that allows businesses to collect feedback or conduct surveys with their customers or employees. The application should enable the creation of custom surveys, including various types of questions (e.g. multiple-choice, rating scales, open-ended). Users should be able to fill out these surveys online, with results aggregated and displayed in a simple dashboard for analysis.</p>
      <h5>Commercial Examples:</h5>
      <ul>
        <li><a href="https://www.surveymonkey.com/" target="_blank">SurveyMonkey</a></li>
        <li><a href="https://www.google.com/forms/about/" target="_blank">Google Forms</a></li>
        <li><a href="https://www.qualtrics.com/" target="_blank">Qualtrics</a></li>
      </ul>
    </section>
    <%# Resource Booking and Scheduling System %>
    <section>
      <h3 id="resource-booking-and-scheduling">Resource Booking and Scheduling System</h3>
      <p>Managing and scheduling resources efficiently is crucial for smooth operations. Whether it's booking rooms for meetings, scheduling equipment use, or ensuring staff are allocated to the right tasks at the right times, a streamlined system can significantly enhance productivity and reduce conflicts.</p>
      <p>This project involves creating a web-based application that combines the functionalities of resource booking and scheduling. The system could allow users to view the availability of various resources (e.g. meeting spaces, equipment, personnel, etc.) and book them for specific time slots. Key features may include a calendar view for easy scheduling, automatic detection of booking conflicts to prevent double-booking, and customizable notifications to keep all parties informed about their reservations and any changes. This project mirrors the real-world necessity for businesses to manage their assets efficiently, making it a valuable addition to any enterprise software suite.</p>
      <h5>Past Trainee Projects:</h5>
      <ul>
        <li><a href="https://drive.google.com/file/d/1haHlb5Rf-PJ1djuCxXnOprAvZPLj9a6b/view" target="_blank">Belay Board - Samuel Lubliner</a></li>
        <li><a href="https://drive.google.com/file/d/1nFPUrUymxOZdTgVlqjugGjjg6iyzpIAY/view" target="_blank">Pickleball Courts - Lauren Allen</a></li>
      </ul>
      <h5>Commercial Examples:</h5>
      <ul>
        <li><a href="https://calendly.com/" target="_blank">Calendly</a></li>
      </ul>
    </section>
    <%# Marketplace Platform %>
    <section>
      <h3 id="marketplace">Marketplace Platform</h3>
      <p>Connecting businesses and consumers with the products and services they need is more critical than ever. A marketplace platform serves as a digital intermediary, enabling businesses and consumers to find suppliers, compare offerings, and make purchases efficiently. Such platforms not only streamline procurement processes but also open up new opportunities for suppliers to reach a broader audience.</p>
      <p>This project involves creating a web-based marketplace application where businesses can list their products or services and buyers can search, compare, and purchase these offerings. Features may include product listings, a search function with filters, user reviews, and/or transaction processing.</p>
      <p>Developing this marketplace platform will introduce apprentices to challenges such as implementing search, payment processing, and creating an intuitive user experience that facilitates easy navigation. This project is an excellent opportunity to explore the complexities of e-commerce and marketplace dynamics, preparing apprentices for roles that require an understanding of digital business interactions and the technical skills to support them.</p>
      <h5>Past Trainee Projects:</h5>
      <ul>
        <li><a href="https://www.loom.com/share/3bf6849499804cdaac4fa655e54076e4?sid=d26b7ca3-1c0e-489f-a582-07c060607167" target="_blank">RebuyGuide - Carman Chiu</a></li>
        <li><a href="https://www.youtube.com/watch?v=GdTy8A_ixUQ&ab_channel=GreenMeggsandHam" target="_blank">Time to Study - Chris M</a></li>
        <li><a href="https://www.loom.com/share/afa2ce9be79f42d881b50a41da71461b?sid=5802448e-b5d4-434c-93f9-02c4bfa74c29" target="_blank">NoshNow - Sara Schoonover</a></li>
        <li><a href="https://www.youtube.com/watch?v=X0pYbgelzlQ&ab_channel=BrianCarlson" target="_blank">Bidding Buddy - Brian Carlson</a></li>
      </ul>
      <h5>Commercial Examples:</h5>
      <ul>
        <li><a href="https://www.airbnb.com/" target="_blank">AirBnb</a></li>
        <li><a href="https://www.amazon.com/" target="_blank">Amazon Marketplace</a></li>
        <li><a href="https://www.etsy.com/" target="_blank">Etsy</a></li>
        <li><a href="https://www.aliexpress.com/" target="_blank">AliExpress</a></li>
      </ul>
    </section>
    <%# Build a Project Management and/or Collaboration Tool %>
    <section>
      <h3 id="project-management-and-collaboration">Build a Project Management and/or Collaboration Tool</h3>
      <p>As businesses undertake complex projects that require teamwork across different departments and locations, the need for effective project management and collaboration tools has never been greater. These tools help teams plan, execute, and monitor projects in real-time, ensuring that goals are met efficiently.</p>
      <p>Your task is to create a web application that facilitates project management and team collaboration. Focus on features that enhance productivity, such as task assignment, progress tracking, deadline reminders, file sharing, and real-time communication. Aim for a solution that is flexible enough to cater to various project types and sizes, yet simple enough to ensure user adoption and satisfaction.</p>
      <p>This project will not only test your technical skills in developing functional and user-friendly software but also your ability to understand the dynamics of team collaboration and project management methodologies. Successful execution of this project could significantly impact how teams work together, making project completion more streamlined and effective.</p>
      <h5>Past Trainee Projects:</h5>
      <ul>
        <li><a href="https://drive.google.com/file/d/1CWa8vFSm5kmB70zk9LL2zJhaJnLojz5A/view" target="_blank">Taskie - Ethan Huang</a></li>
        <li><a href="https://drive.google.com/file/d/12a3PJOORrvsaraCTXIGjcQ_2j_N-ObuI/view?usp=sharing" target="_blank">ArchaeoLog - Kat Jarboe</a></li>
        <li><a href="https://drive.google.com/file/d/1aoA_oszSVrmd718LN1yDQQUgGBIR6mZK/view" target="_blank">Pomodoro - Jorge Pioquinto</a></li>
        <li><a href="https://youtu.be/xLdgVImwYlg" target="_blank">Do More, Pack Less - Nicholas Goossen</a></li>
      </ul>
      <h5>Commercial Examples:</h5>
      <ul>
        <li><a href="https://trello.com/" target="_blank">Trello</a></li>
        <li><a href="https://basecamp.com/" target="_blank">Basecamp</a></li>
        <li><a href="https://github.com/" target="_blank">GitHub</a></li>
      </ul>
    </section>
    <%# Health Data Management System %>
    <section>
      <h3 id="health-data">Health Data Management System</h3>
      <p>In the rapidly evolving healthcare sector, the ability to efficiently manage and track patient health data is paramount. A Health Data Management System (HDMS) serves as a critical tool for healthcare providers, enabling them to store, access, and analyze patient information to deliver quality care.</p>
      <p>This project involves developing a web-based application that allows healthcare professionals to manage patient records securely. The system may support functionalities such as creating and updating patient profiles, recording health metrics, scheduling appointments, and/or generating health reports. Ensuring data privacy and security should be a top priority, given the sensitive nature of health information.</p>
      <p>Building an HDMS will teach apprentices about handling sensitive data, implementing robust authentication and authorization mechanisms, and creating a user-friendly interface that meets the needs of healthcare providers/patients. This project not only aligns with the technical skills required in the healthcare technology sector but also underscores the importance of data privacy and security in software development.</p>
      <p>By working on this HDMS project, apprentices will gain valuable experience in developing applications that have a direct impact on patient care and healthcare operations, preparing them for roles in the growing field of health informatics and technology.</p>
      <h5>Past Trainee Projects:</h5>
      <ul>
        <li><a href="https://drive.google.com/file/d/1jmjlw0pe1_tGadAY6Nz4tCLB4ZWDZ-Ju/view?resourcekey" target="_blank">CareLog - Paulina Delmore</a></li>
        <li><a href="https://docs.google.com/presentation/d/1cHJDCfoohgVaYq0oKV2lxnvjgvGfVdFWKQ5TU3_wTAs/edit#slide=id.g245a5aa0882_1_805" target="_blank">Flex Track - Camille Arce</a></li>
      </ul>
      <h5>Commercial Examples:</h5>
      <ul>
        <li><a href="https://www.epic.com/" target="_blank">Epic Systems</a></li>
        <li><a href="https://www.cerner.com/" target="_blank">Cerner</a></li>
      </ul>
    </section>
    <%# Automating Tasks with Generative AI %>
    <section>
      <h3 id="generative-ai">Automating Tasks with Generative AI</h3>
      <p>In the fast-paced world of business, the efficiency provided by automation, particularly through Generative AI (like Chat GPT), is invaluable. This technology has the potential to revolutionize mundane tasks, from auto-generating emails to synthesizing reports, thereby freeing up time for more complex and creative endeavors.</p>
      <p>We invite apprentices to develop Generative AI applications that enhance productivity across various business operations. The goal is to create tools that are not only powerful in automating tasks but also user-friendly and adaptable to fit seamlessly into existing workflows.</p>
      <p>This project is an opportunity to delve into the cutting edge of AI technology, crafting solutions that could redefine workplace efficiency. Ideal projects will demonstrate how Generative AI can be a game-changer in automating routine tasks, showcasing both technical prowess and a deep understanding of practical business needs.</p>
      <h5>Past Trainee Projects:</h5>
      <ul>
        <li><a href="https://www.youtube.com/watch?v=CDaNHlRI0Qk&ab_channel=DianeSun" target="_blank">Thank You GPT - Diane Sun</a></li>
      </ul>
      <h5>Commercial Examples:</h5>
      <ul>
        <li><a href="https://github.com/features/copilot/" target="_blank">GitHub Copilot</a></li>
        <li><a href="https://sapling.ai/" target="_blank">Sapling.ai</a></li>
        <li><a href="https://www.shortlyai.com/" target="_blank">Shortly</a></li>
        <li><a href="https://www.copy.ai/" target="_blank">Copy.ai</a></li>
        <li><a href="http://helloquery.com" target="_blank">Hello Query</a></li>
      </ul>
    </section>
    <%# Building Better Business Glue with Software Integrations %>
    <section>
      <h3 id="business-glue">Building Better Business Glue with Software Integrations</h3>
      <p>A common pain point for businesses emerges when trying to leverage multiple software solutions that don't naturally communicate with each other. This lack of integration can lead to significant challenges such as manual data entry, errors, and operational delays. We invite apprentices to address these pain points and enable businesses to easily connect these disparate systems. By automating data exchange between applications, we aim to reduce manual workload, minimize errors, and provide real-time insights into operations, ultimately supporting more informed decision-making and freeing up time for businesses to focus on their core offerings.</p>
      <h5>Commercial Examples:</h5>
      <ul>
        <li><a href="https://receipt-ai.com/" target="_blank">Receipt AI</a></li>
        <li><a href="https://zapier.com/" target="_blank">Zapier</a></li>
      </ul>
    </section>
  </div>
  <div class="col col-md-4 d-none d-md-block">
    <nav id="TableOfContents">
      <ul>
        <li><a href="#introduction">Introduction</a></li>
        <li><a href="#erp">Enterprise Resource Planning Software</a></li>
        <li><a href="#etl">Create an ETL (Extract, Transform, Load) Pipeline for Business Data Integration</a></li>
        <li><a href="#crm">Develop a Customer Relationship Management (CRM) System</a></li>
        <li><a href="#analytics-dashboard">Develop a Real-time Analytics Dashboard</a></li>
        <li><a href="#cloud-storage-interface">Create a Cloud Storage Service Interface</a></li>
        <li><a href="#smart-chatbot">Build a Smart Chatbot</a></li>
        <li><a href="#employee-directory-and-communication">Employee Directory and Internal Communication Platform</a></li>
        <li><a href="#feedback-and-survey-tool">Feedback and Survey Tool</a></li>
        <li><a href="#resource-booking-and-scheduling">Resource Booking and Scheduling System</a></li>
        <li><a href="#marketplace">Marketplace Platform</a></li>
        <li><a href="#project-management-and-collaboration">Build a Project Management and/or Collaboration Tool</a></li>
        <li><a href="#health-data">Health Data Management System</a></li>
        <li><a href="#generative-ai">Automating Tasks with Generative AI</a></li>
        <li><a href="#business-glue">Building Better Business Glue with Software Integrations</a></li>
      </ul>
    </nav>
  </div>
</div>
