<turbo-stream action="update" target="search_by_name">
  <template>
    <% if @users.length == 0 %>
      <%= "No users found" %>
    <% else %>
      <div>
        <% @users.each do |user| %>
          <div class="option" data-action="click->search-user#select" data-user-id="<%= user.id %>" data-user-name="<%= user.full_name %>">
            <i class="fa-regular fa-user"></i>
            <%= highlight(user.full_name, params.dig(:name)) %>
          </div>
        <% end %>
      </div>
    <% end %>
  </template>
</turbo-stream>
