<div class="row my-2">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header d-flex align-items-center">
        <div class="h6 mb-0 me-auto"><%= @placement.user %> - <%= @placement.company.name %></div>
        <% if policy(@placement).edit? %>
          <%= link_to edit_placement_path(@placement), class: "ms-2 text-decoration-none", data: { turbo: false } do %>
            <i class="fa-solid fa-pen-to-square"></i>
          <% end %>
        <% end %>
      </div>
      <div class="list-group list-group-flush ps-3 mt-3 mb-3">
        <div class="row align-items-center">
          <%= render "placement", placement: @placement %>
        </div>
      </div>
    </div>
  </div>
</div>
