<nav class="navbar navbar-expand-lg bg-light mb-3">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <i class="fa-solid fa-chart-line"></i>

      Dashboard
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if Rails.env.development? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Debug
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="/piazza_activity_breakdowns" class="dropdown-item">
                  Piazza Activity Breakdowns
                </a>
              </li>
              <li>
                <a href="/piazza_activity_downloads" class="dropdown-item">
                  Piazza Activity Downloads
                </a>
              </li>
              <li>
                <a href="/enrollments" class="dropdown-item">
                  Enrollments
                </a>
              </li>
              <li>
                <a href="/cohorts" class="dropdown-item">
                  Cohorts
                </a>
              </li>
            </ul>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        <% end %>
      </ul>

      <ul class="navbar-nav">
        <% if current_user.blank? %>
          <li class="nav-item">
            <a href="/users/sign_in" class="nav-link">
              Sign in
            </a>
          </li>
        <% else %>
          <li class="nav-item">
            <a href="/users/edit" class="nav-link">
              Edit profile
            </a>
          </li>

          <li class="nav-item">
            <%= link_to "Sign out", destroy_user_session_path, data: { "turbo-method": :delete }, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
