<h1>Editing impression</h1>

<%= render "form", impression: @impression %>

<br>

<div>
  <%= link_to "Show this impression", cohort_impression_path(@cohort, @impression) %> |
  <%= link_to "Back to impressions", cohort_impressions_path(@cohort) %>
</div>
