<turbo-stream action="update" target="search">
  <template>
    <% if @subjects.length == 0 %>
      <%= "No subjects found" %>
    <% else %>
      <div>
        <% @subjects.each do |subject| %>
          <div class="option" data-action="click->search-subject#select" data-subject-id="<%= subject.id %>" data-subject-name="<%= subject.user.full_name %>">
            <i class="fa-regular fa-user"></i>
            <%= highlight(subject.user.full_name, params.dig(:subject_search)) %>
          </div>
        <% end %>
      </div>
    <% end %>
  </template>
</turbo-stream>
