<div id="<%= dom_id enrollment %>">
  <p>
    <strong>Role:</strong>
    <%= enrollment.role %>
  </p>

  <p>
    <strong>User:</strong>
    <%= enrollment.user_id %>
  </p>

  <p>
    <strong>Cohort:</strong>
    <%= enrollment.cohort_id %>
  </p>

</div>
