<h1>Editing enrollment</h1>

<%= render "form", enrollment: @enrollment %>

<br>

<div>
  <% if policy(@enrollment).show? %>
    <%= link_to "Show this enrollment", cohort_enrollment_path(@cohort, @enrollment) %> |
  <% end %>
  <% if policy(@enrollment).index? %>
    <%= link_to "Back to enrollments", cohort_enrollments_path(@cohort) %>
  <% end %>
</div>
