<h1>Editing enrollment</h1>

<%= render "form", enrollment: @enrollment %>

<br>

<div>
  <% if policy(@enrollment).show? %>
    <%= link_to "Show this enrollment", enrollment_path(@enrollment) %> |
  <% end %>
  <% if policy(@enrollment).index? %>
    <%= link_to "Back to enrollments", enrollments_path(cohort_id: @cohort.id) %>
  <% end %>
</div>
