<h1>Editing enrollment</h1>

<%= render "form", enrollment: @enrollment %>

<br>

<div>
  <%= link_to "Show this enrollment", cohort_enrollment_path(@cohort, @enrollment) %> |
  <%= link_to "Back to enrollments", cohort_enrollments_path(@cohort) %>
</div>
