<div id="<%= dom_id piazza_activity_download %>">
  <p>
    <strong>Activity from:</strong>
    <%= piazza_activity_download.activity_from %>
  </p>

  <p>
    <strong>Activity until:</strong>
    <%= piazza_activity_download.activity_until %>
  </p>

  <p>
    <strong>Cohort:</strong>
    <%= piazza_activity_download.cohort_id %>
  </p>

</div>
