<h1>Editing piazza activity download</h1>

<%= render "form", piazza_activity_download: @piazza_activity_download %>

<br>

<div>
  <%= link_to "Show this piazza activity download", @piazza_activity_download %> |
  <%= link_to "Back to piazza activity downloads", piazza_activity_downloads_path %>
</div>
