<h1>New piazza activity download</h1>

<%= render "form", piazza_activity_download: @piazza_activity_download %>

<br>

<div>
  <%= link_to "Back to piazza activity downloads", piazza_activity_downloads_path %>
</div>
