<turbo-stream action="update" target="search">
  
  <template>
    <% if @subjects.length == 0 %>
      <%= "No subjects found" %>
    <% else %>
      <div>
        <% @subjects.each do |subject| %>
          <div data-action="click->search-subject#select">
            <i class="fa-regular fa-user"></i>
            <%= highlight(subject.user_id, params.dig(:title_search)) %>
            <%= highlight(subject.user.full_name, params.dig(:title_search)) %>
          </div>
        <% end %>
      </div>
    <% end %>
  </template>
</turbo-stream>
