<!-- Button trigger modal -->
<div class="d-grid col-8 mx-auto">
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Submit Project Idea
  </button>
</div>