<!-- Button trigger modal -->
<div class="d-grid gap-2 mx-auto">
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Submit a Project Proposal
  </button>
</div>