<!-- Button trigger modal -->
<div class="col-6 mx-auto">
  <button type="button" class="btn btn-lg btn-primary btn-dpi-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Have an Idea?
  </button>
</div>