<%= render "rfp/navbar" %>
<h1>Editing rfp idea submission</h1>
<%= render "form", rfp_idea_submission: @rfp_idea_submission %>
<br>
<div>
  <%= link_to "Show this rfp idea submission", @rfp_idea_submission %> |
  <%= link_to "Back to rfp idea submissions", rfp_idea_submissions_path %>
</div>
