<p style="color: green"><%= notice %></p>

<h1>Rfp idea submissions</h1>

<div id="rfp_idea_submissions">
  <% @rfp_idea_submissions.each do |rfp_idea_submission| %>
    <%= render rfp_idea_submission %>
    <p>
      <%= link_to "Show this rfp idea submission", rfp_idea_submission %>
    </p>
  <% end %>
</div>

<%= link_to "New rfp idea submission", new_rfp_idea_submission_path %>
