<%= render "rfp/navbar" %>
<div class="container col-xl-12 px-4 py-5">
  <div class="row align-items-center g-lg-2 py-2">
    <div class="col text-start text-lg-start">
      <h1 class="fs-3 fw-semibold lh-1 mb-3">Who We Are</h1>
      <p class="col-lg-10 fs-5">
        The Discovery Partner's Institute Pritzker Tech Talent Labs Software Development Trainee program focuses on providing aspiring engineers with practical experience to prepare them for their future careers. Our mission is to equip junior-level engineers with the skills and knowledge necessary to thrive in the tech industry.
      </p>
      <h1 class="fs-3 fw-semibold lh-1 mb-3">Have a Project Idea?</h1>
      <p class="col-lg-10 fs-5">
        Do you have a project in mind? We welcome project proposals from individuals and organizations alike. Submit your project idea to provide our trainees with real-world coding experience. This is an opportunity to empower tech newcomers while bringing innovative projects to life.
      </p>
      <h1 class="fs-3 fw-semibold lh-1 mb-3">Have More Questions?</h1>
      <p class="col-lg-10 fs-5">For any further inquiries or assistance, feel free to reach out to us at temporary@uic.edu. We're here to help address any questions or concerns you may have about our program or the project submission process.
      </p>
    </div>
    <div class="col-md-10 mx-auto col-lg-6">
      <%= render "form", rfp_idea_submission: @rfp_idea_submission %>
    </div>
  </div>
</div>
