<nav class="navbar bg-dpi-primary rounded">
  <div class="container-fluid d-flex align-items-center">
    <a class="navbar-brand me-auto" href="/">
      <%= image_tag "logo", class: "rounded", alt: "DPI" %>
      <span class="text-white">Outcomes</span>
    </a>
  </div>
</nav>
