<div class="row">
  <div class="col-md-6">
    <div><b>Role Category:</b></div>
    <div><%= placement.job_description.role_category %></div>
    <div><b>Start Date:</b></div>
    <div><%= placement.start_date %></div>
  </div>
</div>
