:root {
  --digital-blue: #122666;
  --terminal-green: #64d755;
  --white: #ffffff;
  --light-grey: #dcdcdc;
  --dark-grey: #323232;
}

.btn-dpi-primary {
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--white);
  --bs-btn-bg: var(--digital-blue);
  --bs-btn-border-color: var(--digital-blue);
  --bs-btn-hover-color: var(--white);
  --bs-btn-hover-bg: #{shade-color(--digital-blue, 10%)};
  --bs-btn-hover-border-color: #{shade-color(--digital-blue 10%)};
  --bs-btn-focus-shadow-rgb: var(--digital-blue);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #{shade-color(--digital-blue, 20%)};
  --bs-btn-active-border-color: #{shade-color(--digital-blue, 20%)};
}
.btn-dpi-secondary {
  
}


.bg-dpi-primary {
  background-color: var(--digital-blue);
}

.border-dpi-primary {
  border: var(--bs-border-width) var(--bs-border-style) var(--digital-blue);
  --bs-border-opacity: 1;
}

.border-dpi-secondary {
  border: var(--bs-border-width) var(--bs-border-style) var(--terminal-green);
  --bs-border-opacity: 1;
}

.text-dpi-primary {
  --bs-text-opacity: 1;
  color: var(--digital-blue) !important;
}

.text-dpi-secondary {
  --bs-text-opacity: 1;
  color: var(--terminal-green) !important;
}