:root {
  --digital-blue: #122666;
  --terminal-green: #64d755;
  --white: #ffffff;
  --light-grey: #dcdcdc;
  --dark-grey: #323232;
}

.btn.btn-dpi-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #122666;
  --bs-btn-border-color: #122666;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0b1c51;
  --bs-btn-hover-border-color: #0b1c51;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0b1c51;
  --bs-btn-active-border-color: #0b1c51;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #122666;
  --bs-btn-disabled-border-color: #122666;
}

.bg-dpi-primary {
  background-color: var(--digital-blue);
}

.bg-dpi-secondary {
  background-color: var(--terminal-green);
}

.border-dpi-primary {
  border: var(--bs-border-width) var(--bs-border-style) var(--digital-blue);
  --bs-border-opacity: 1;
}

.border-dpi-secondary {
  border: var(--bs-border-width) var(--bs-border-style) var(--terminal-green);
  --bs-border-opacity: 1;
}

.text-dpi-primary {
  --bs-text-opacity: 1;
  color: var(--digital-blue) !important;
}

.text-dpi-secondary {
  --bs-text-opacity: 1;
  color: var(--terminal-green) !important;
}
