.profile-pic-container {
  width: 100%;
  /* Equal to the width for a 1:1 aspect ratio */
  padding-bottom: 100%;
  position: relative;
  overflow: hidden;
}

.profile-pic-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.profile-pic-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
}

.news-avatar {
  margin-right: 16px;
  height: 50px;
  border-radius: 10px;
}
