<h1>Editing piazza activity report</h1>

<%= render "form", piazza_activity_report: @piazza_activity_report %>

<br>

<div>
  <%= link_to "Show this piazza activity report", @piazza_activity_report %> |
  <%= link_to "Back to piazza activity reports", piazza_activity_reports_path %>
</div>
