<%= render "cohorts/tabs" %>

<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header d-flex align-items-center">
        <h1 class="h6 mb-0 me-auto">Piazza Activity Reports</h1>

        <div>
          <%= link_to new_cohort_piazza_activity_report_path(@cohort) do %>
            <i class="fa-solid fa-plus fa-fw"></i>
          <% end %>
        </div>
      </div>

      <div class="list-group list-group-flush">
        <% @piazza_activity_reports.each do |piazza_activity_report| %>
          <%= link_to cohort_piazza_activity_report_path(@cohort, piazza_activity_report), class: "list-group-item" do %>
            <div class="d-flex">
              <div class="me-auto d-flex align-items-baseline font-monospace">
                <%= piazza_activity_report.to_s %>
              </div>
  
              <div>
                <i class="fa-solid fa-chevron-right fa-fw"></i>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
